body {
  background: #d9eded;
}
  
.weather {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.dateTitle, #Title {
  margin: 0.5rem;
  text-align: center; 
}

input {
  border: 1rem;
  background-color: #f4f0ed;
  padding: 1em;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  width: 80%; 
  max-width: 500px; 
}

#Title {
  font-size: 1.5rem;
}

.main-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 2fr;
  }

  .title-section {
    flex-direction: row;
    justify-content: space-between;
  }

  input {
    width: auto;
  }

  .current-weather {
    width: 71vw;
  }

  .daily-forecast {
    width: 78vw;
  }

  .scrolling-container {
    overflow-x: auto;
  }

  .scrolling-container2 {
    width: 78vw;
  }

  .hourly-forecast {
    width: 82vw;
  }
}

.current-weather {
  background-color: #b1cdd3;
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
  margin-right: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}


.dark-mode {
  background-color: #262626;
}


.dark-mode .current-weather,
.dark-mode .hourly-forecast,
.dark-mode .daily-forecast  {
  background-color: #333; 
  color: #f5f5f5; 
}

.dark-mode .weather .daily-forecast-td {
  background-color: rgb(63, 62, 62); 
}

.dark-mode .weather {
  background-color: #333333;
}

.dark-mode input,
.dark-mode button {
  background-color: #555; 
  color: #f5f5f5; 
  border-color: #777;
}