.upcoming-events {
    grid-row: 2;
    background-color: #3e3c3f;
    border-style: solid;
    border-color: #d5c2ad;
    border-width: 0.1rem;
    border-radius: 1rem;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .upcoming-events {
        grid-area: b;
    }
}
    